$top-padding: 80px;
$transition-time: 0.4s;
$parallax-height: 100vh;
$center-margin: 0px auto;
$img-height: 12%;
$img-width: 12%;
$font-family: "Monda", sans-serif;

@mixin background-size($size){
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
}

@mixin parallax-background($file){
    background: url($file) no-repeat center center fixed;
    @include background-size(cover);
}

body {
    margin: 0;
    font-size: 28px;
    background-color: #F8F9F9;
}

html {
    scroll-behavior: smooth;
}


.name {
    margin: 20px 30px 20px 30px;
    color: #062F4F;
}

.subtitle {
    margin: 20px 30px 20px 30px;
    color: white;
    font-size: 50pt;
}

#about {
    padding: 90px 60px 200px 60px;

    h2 {
        font-family: $font-family;
        font-size: 30pt;
    }
    p {
        font-family: $font-family;
        font-size: 15pt;
    }
}

#technology {
    padding: 100px 60px 110px 60px;

    h2 {
        font-family: $font-family;
        font-size: 30pt;
    }
}

.column2 {
    padding-top: 40px;
    padding-left: 55px;
}

#projects {
    padding: 100px 60px 100px 60px;
    h2 {
        font-family: $font-family;
        font-size: 30pt;
    }
}

.card {
    box-shadow: 0 4px 8px 0 lightgray;
    max-width: 330px;
    margin: 50px;
    text-align: center;
    font-family: $font-family;
    display: inline-block;
    h1 {
        font-size: 25pt;
        color:#062F4F;
    }
    p {
        font-size: 12pt;
    }
    button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: black;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    button:hover {
        opacity: 0.7;
    }
}

#contact {
    padding: 56px 60px 80px 60px;

    h2 {
        font-family: $font-family;
        font-size: 30pt;
        text-align: center;
        color: #062F4F
    }
}

.contact-row {
    padding-left: 40%;
    img {
        width: 8%;
        height: 8%;
    }
}

.linkedin_img_size {
    padding-left: 42px;
}

.github_img_size {
    padding-left: 35px;
}

#library {
    @include parallax-background("./Images/library.jpeg");
}

#downtown {
    @include parallax-background("./Images/downtown.jpg");
}

#drilling {
    @include parallax-background("./Images/drilling.jpg");
}

#kyoto {
    @include parallax-background("./Images/kyoto.jpg");
}

#library {
    width: 100%;
    height: $parallax-height;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0.7;
}

#downtown, #drilling, #kyoto {
    width: 100%;
    height: 48vh;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;
}

.title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-family;
    font-size: 55pt;
    text-align: center;
    background-color: #4ABDAC;
    opacity: 0.9;
    border-radius: 30px 10px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

.python_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 45px;
}

.c_sharp_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 10px;
}

.angular_img_size {
    width: $img-width;
    height: $img-height;
}

.html_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 8px;
}

.css_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 25px;
}

.node_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 40px;
    padding-top: 9px;
}

.mongodb_img_size {
    width: $img-width;
    height: $img-height;
    padding: 0px 0px 54px 20px;
}

.mysql_img_size {
    width: $img-width;
    height: $img-height;
    padding: 0px 0px 32px 30px;
}

.asp_net_img_size {
    width: $img-width;
    height: $img-height;
    padding-bottom: 20px;
    padding-left: 15px;
}

.django_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 20px;
}

.react_img_size {
    width: $img-width;
    height: $img-height;
    padding-bottom: 20px;
    padding-left: 10px;
}

.ts_img_size {
    width: 8%;
    height: 8%;
    padding-left: 28px;
    padding-bottom: 20px;
}

.js_img_size {
    width: 25%;
    height: 25%;
    padding: 0px 0px 5px 15px;
}

.sass_img_size {
    width: $img-width;
    height: $img-height;
    padding-left: 25px;
    padding-bottom: 5px;
}

#navbar{
    overflow: hidden;
    background-color:#4ABDAC;
    padding: 40px 10px;
    transition: $transition-time;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    
    a {
        float: left;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 12px;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }
    #logo {
        font-size: 40px;
        transition: $transition-time;
        color: white;
        font-family: $font-family;
    }
    a:hover {
        background-color: #DFDCE3;
        color: black;
    }
    a.active {
        background-color: blue;
        color: white;
    }
}

#navbar-right {
    float: right;
    padding-right: 22px;

    a {
        color: white;
        font-family: "Monda", sans-serif;
    }
}



@media only screen and (max-width: 480px) {
    #navbar {
        padding: 20px 10px !important;
        a{
            float: none;
            display: block;
            text-align: left;
        }
    }
    #navbar-right{
        float: none;
    }
}